.index {
  .item-c {
    display: flex;
    .item {
      width: 150px;
      height: 150px;
      border-radius: 10px;
      background-color: rgba(238, 255, 0, 0.623);
      text-align: center;
      line-height: 150px;
      margin: 10px;
      font-size: 28px;
    }
    .item-hover {
      background-color: yellowgreen;
    }
  }
  .more-ac {
      font-size: 28px;
      text-align: center;
      margin-top: 30px;
  }
}
